@use '@styles/colors' as *;

.container {
  width: 100%;
  height: 70vh;
  background: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: $font-color-light;
    padding-bottom: 2rem;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 50vh;
  color: $font-color;

  @media (max-width: 768px) {
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 1rem;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.card {
  width: 30%;
  background: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: $font-color;
    background-color: $font-color-hover;
    padding: 1rem;
    width: 100%;
    text-align: center;
  }

  @media (max-width: 768px) {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
  }
}

.card_list {
  padding: 1rem;
  width: 100%;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.check {
  color: #008000;
}

.notCheck {
  color: #ff0000;
}

@media (max-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
    padding: 2rem 0;
  }
}