$background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
$primary-color: #6975DD;
$secondary-color: #002335;

$font-color: #002335;
$font-color-light: #ffffff;
$font-color-hover: #ff758c;

$background-color: #ebebeb;
$button-color: #6975DD;
$button-color-hover: #ff758c;